In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("./data/lab3-data.csv")

df

,Unnamed: 0,index,CNTRYID,CNT,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,LANGTEST_COG,...,EMOSUPP,PQSCHOOL,PASCHPOL,PRESUPP,JOYREADP,ATTIMMP,INTCULTP,GCAWAREP,BODYIMA,SOCONPA
0,0,11956,152.0,CHL,15200,CHL0206,1520000,1.0,2.0,156.0,...,0.739,0.7457,1.6215,-0.5678,-1.5853,-0.9700,-0.7128,-0.4661,NaN,NaN
1,1,11958,152.0,CHL,15200,CHL0414,1520000,1.0,2.0,156.0,...,0.739,2.0484,1.3268,-0.2262,0.0327,-0.4189,-0.0831,0.2619,NaN,NaN
2,2,11960,152.0,CHL,15200,CHL0308,1520000,1.0,2.0,156.0,...,0.739,-0.7951,-0.6368,0.6406,0.8279,-2.1628,0.6497,-0.6305,NaN,NaN
3,3,11961,152.0,CHL,15200,CHL0414,1520000,1.0,2.0,156.0,...,0.739,-1.4552,-1.1177,-1.1910,1.3690,-1.5354,-0.3192,-0.4310,NaN,NaN
4,4,11965,152.0,CHL,15200,CHL0308,1520000,1.0,2.0,156.0,...,0.739,0.3731,0.5620,0.5225,-0.4457,-0.4189,0.7827,-1.7909,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42171,42171,89401,724.0,ESP,72400,ESP1020,7240000,1.0,2.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42172,42172,89402,724.0,ESP,72400,ESP9015,7240000,1.0,2.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0299
42173,42173,89403,724.0,ESP,72400,ESP9029,7240000,1.0,2.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42174,42174,89405,724.0,ESP,72400,ESP0509,7240000,1.0,2.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9114,0.9078
42175,42175,89406,724.0,ESP,72400,ESP9003,7240000,1.0,2.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.2551,0.9078

In [3]:
df = df.loc[:,['CNTRYID','ST127Q02TA', 'ST001D01T', 'GRADE', 'ISCEDL', 'OCOD2', 'REPEAT']]
df

       CNTRYID  ST127Q02TA  ST001D01T  GRADE  ISCEDL  OCOD2  REPEAT
0        152.0         1.0       10.0    0.0     3.0   5164     0.0
1        152.0         1.0       10.0    0.0     3.0   2212     0.0
2        152.0         1.0       10.0    0.0     3.0   7212     0.0
3        152.0         1.0       10.0    0.0     3.0   2411     0.0
4        152.0         1.0       10.0    0.0     3.0   7212     0.0
...        ...         ...        ...    ...     ...    ...     ...
42171    724.0         1.0       10.0    0.0     2.0   1411     0.0
42172    724.0         2.0        9.0   -1.0     2.0   7115     1.0
42173    724.0         1.0       10.0    0.0     2.0   2142     0.0
42174    724.0         2.0        8.0   -2.0     2.0   5414     1.0
42175    724.0         2.0        9.0   -1.0     2.0   2149     1.0

[42176 rows x 7 columns]

In [4]:
df = df[df.REPEAT == 1.0]
df

       CNTRYID  ST127Q02TA  ST001D01T  GRADE  ISCEDL  OCOD2  REPEAT
5        152.0         1.0        9.0   -1.0     3.0   9705     1.0
8        152.0         1.0        9.0   -1.0     3.0   7231     1.0
12       152.0         1.0        9.0   -1.0     3.0   7111     1.0
14       152.0         NaN        9.0   -1.0     3.0   5120     1.0
16       152.0         1.0        9.0   -1.0     3.0   9704     1.0
...        ...         ...        ...    ...     ...    ...     ...
42161    724.0         2.0        8.0   -2.0     2.0   9703     1.0
42168    724.0         2.0        9.0   -1.0     2.0   8350     1.0
42172    724.0         2.0        9.0   -1.0     2.0   7115     1.0
42174    724.0         2.0        8.0   -2.0     2.0   5414     1.0
42175    724.0         2.0        9.0   -1.0     2.0   2149     1.0

[8699 rows x 7 columns]

In [5]:
df.isnull().sum()

CNTRYID          0
ST127Q02TA    1260
ST001D01T        0
GRADE            0
ISCEDL           0
OCOD2            0
REPEAT           0
dtype: int64

In [6]:
df = df.dropna()
df

       CNTRYID  ST127Q02TA  ST001D01T  GRADE  ISCEDL  OCOD2  REPEAT
5        152.0         1.0        9.0   -1.0     3.0   9705     1.0
8        152.0         1.0        9.0   -1.0     3.0   7231     1.0
12       152.0         1.0        9.0   -1.0     3.0   7111     1.0
16       152.0         1.0        9.0   -1.0     3.0   9704     1.0
30       152.0         1.0        9.0   -1.0     3.0   7512     1.0
...        ...         ...        ...    ...     ...    ...     ...
42161    724.0         2.0        8.0   -2.0     2.0   9703     1.0
42168    724.0         2.0        9.0   -1.0     2.0   8350     1.0
42172    724.0         2.0        9.0   -1.0     2.0   7115     1.0
42174    724.0         2.0        8.0   -2.0     2.0   5414     1.0
42175    724.0         2.0        9.0   -1.0     2.0   2149     1.0

[7439 rows x 7 columns]

In [7]:
def drop_noisy(df):
    df_copy = df.copy()
    df_describe = df_copy.describe()
    for column in df.columns:
        if column != 'CNTRYID':
            mean = df_describe.loc['mean',column]
            std = df_describe.loc['std',column]
            minvalue = mean - 3*std
            maxvalue = mean + 3*std
            df_copy = df_copy[df_copy[column] >= minvalue]
            df_copy = df_copy[df_copy[column] <= maxvalue]
    return df_copy

In [8]:
df = drop_noisy(df)

In [9]:
df

       CNTRYID  ST127Q02TA  ST001D01T  GRADE  ISCEDL  OCOD2  REPEAT
81       152.0         3.0        8.0   -2.0     2.0   9999     1.0
146      152.0         2.0        8.0   -2.0     2.0   9999     1.0
647      152.0         2.0        8.0   -2.0     2.0   5164     1.0
763      152.0         3.0        8.0   -2.0     2.0   9510     1.0
785      152.0         3.0        8.0   -2.0     2.0   9211     1.0
...        ...         ...        ...    ...     ...    ...     ...
42161    724.0         2.0        8.0   -2.0     2.0   9703     1.0
42168    724.0         2.0        9.0   -1.0     2.0   8350     1.0
42172    724.0         2.0        9.0   -1.0     2.0   7115     1.0
42174    724.0         2.0        8.0   -2.0     2.0   5414     1.0
42175    724.0         2.0        9.0   -1.0     2.0   2149     1.0

[6806 rows x 7 columns]

In [10]:
count1 = df.ST127Q02TA.value_counts()
count1

2.0    5118
1.0    1289
3.0     399
Name: ST127Q02TA, dtype: int64

In [11]:
count2 = df.ST001D01T.value_counts()
count2

9.0     5281
8.0     1293
10.0     232
Name: ST001D01T, dtype: int64

In [12]:
count3 = df.GRADE.value_counts()
count3

-1.0    5281
-2.0    1293
 0.0     232
Name: GRADE, dtype: int64

In [13]:
count4 = df.ISCEDL.value_counts()
count4

2.0    6806
Name: ISCEDL, dtype: int64

In [14]:
count5 = df.OCOD2.value_counts()
count5

9999    755
7112    366
9705    285
8332    283
9703    222
       ...
7316      1
4313      1
2240      1
8000      1
7535      1
Name: OCOD2, Length: 418, dtype: int64

In [15]:
count6 = df.CNTRYID.value_counts()
count6

724.0    5829
591.0     590
484.0     328
152.0      58
214.0       1
Name: CNTRYID, dtype: int64

In [16]:
""" df2 = pd.DataFrame(columns=count5.index, index=range(len(df)))
df2.columns = ['OCOD2_' + str(col) for col in df2.columns]
df2
for col in count4.index:
    df2['ISCEDL_' + str(col)] = None
df2
for col in count3.index:
    df2['GRADE_' + str(col)] = None
df2
for col in count2.index:
    df2['ST001D01T_' + str(col)] = None
df2
for col in count1.index:
    df2['ST127Q02TA_' + str(col)] = None
df2
df2['REPEAT'] = 1
df2 """

" df2 = pd.DataFrame(columns=count5.index, index=range(len(df)))\ndf2.columns = ['OCOD2_' + str(col) for col in df2.columns]\ndf2\nfor col in count4.index:\n    df2['ISCEDL_' + str(col)] = None\ndf2\nfor col in count3.index:\n    df2['GRADE_' + str(col)] = None\ndf2\nfor col in count2.index:\n    df2['ST001D01T_' + str(col)] = None\ndf2\nfor col in count1.index:\n    df2['ST127Q02TA_' + str(col)] = None\ndf2\ndf2['REPEAT'] = 1\ndf2 "

In [17]:
df2 = pd.DataFrame(index=range(len(df)))

for i in range(len(df)):
    df2.at[i, 'ST127Q02TA_' + str(df.values[i, 1])] = 'ST127Q02TA_' + str(df.values[i, 1])
    df2.at[i, 'ST001D01T_' + str(df.values[i, 2])] = 'ST001D01T_' + str(df.values[i, 2])
    df2.at[i, 'GRADE_' + str(df.values[i, 3])] = 'GRADE_' + str(df.values[i, 3])
    df2.at[i, 'ISCEDL_' + str(df.values[i, 4])] = 'ISCEDL_' + str(df.values[i, 4])
    df2.at[i, 'OCOD2_' + str(df.values[i, 5])] = 'OCOD2_' + str(df.values[i, 5])
    df2.at[i, 'CNTRYID_' + str(df.values[i, 0])] = 'CNTRYID_' + str(df.values[i, 0])
df2['REPEAT'] = 'REPEAT'
df2

,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,ST127Q02TA_2.0,OCOD2_5164.0,OCOD2_9510.0,OCOD2_9211.0,...,OCOD2_7132.0,OCOD2_8154.0,OCOD2_2633.0,OCOD2_7514.0,OCOD2_9123.0,OCOD2_4225.0,OCOD2_8182.0,OCOD2_6221.0,OCOD2_7535.0,REPEAT
0,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
1,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
2,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,ST127Q02TA_2.0,OCOD2_5164.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
3,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,NaN,NaN,OCOD2_9510.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
4,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,NaN,NaN,NaN,OCOD2_9211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
6802,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
6803,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
6804,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
6805,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT

In [18]:
df2.isnull().sum()

ST127Q02TA_3.0    6407
ST001D01T_8.0     5513
GRADE_-2.0        5513
ISCEDL_2.0           0
OCOD2_9999.0      6051
                  ...
OCOD2_4225.0      6805
OCOD2_8182.0      6805
OCOD2_6221.0      6805
OCOD2_7535.0      6805
REPEAT               0
Length: 434, dtype: int64

In [19]:
cols = []
for col in df2.columns:
    if df2[col].isnull().sum() > 6750:
        cols.append(col)
df2 = df2.drop(cols, axis = 1)
df2

,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,ST127Q02TA_2.0,OCOD2_7231.0,ST127Q02TA_1.0,OCOD2_8332.0,...,OCOD2_5120.0,CNTRYID_591.0,OCOD2_1221.0,CNTRYID_724.0,ST001D01T_10.0,GRADE_0.0,OCOD2_7115.0,OCOD2_9310.0,OCOD2_4227.0,REPEAT
0,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
1,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,OCOD2_9999.0,CNTRYID_152.0,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
2,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
3,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
4,ST127Q02TA_3.0,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,CNTRYID_152.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,CNTRYID_724.0,NaN,NaN,NaN,NaN,NaN,REPEAT
6802,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,CNTRYID_724.0,NaN,NaN,NaN,NaN,NaN,REPEAT
6803,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,CNTRYID_724.0,NaN,NaN,OCOD2_7115.0,NaN,NaN,REPEAT
6804,NaN,ST001D01T_8.0,GRADE_-2.0,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,CNTRYID_724.0,NaN,NaN,NaN,NaN,NaN,REPEAT
6805,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,ST127Q02TA_2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,CNTRYID_724.0,NaN,NaN,NaN,NaN,NaN,REPEAT

In [20]:
df2.isnull().sum()

ST127Q02TA_3.0    6407
ST001D01T_8.0     5513
GRADE_-2.0        5513
ISCEDL_2.0           0
OCOD2_9999.0      6051
CNTRYID_152.0     6748
ST127Q02TA_2.0    1688
OCOD2_7231.0      6596
ST127Q02TA_1.0    5517
OCOD2_8332.0      6523
OCOD2_7131.0      6711
OCOD2_9705.0      6521
OCOD2_9621.0      6700
OCOD2_5414.0      6678
OCOD2_8322.0      6711
OCOD2_9704.0      6708
OCOD2_7212.0      6735
OCOD2_1120.0      6671
ST001D01T_9.0     1525
GRADE_-1.0        1525
CNTRYID_484.0     6478
OCOD2_9703.0      6584
OCOD2_5131.0      6665
OCOD2_4323.0      6721
OCOD2_7411.0      6705
OCOD2_7112.0      6440
OCOD2_7511.0      6741
OCOD2_6111.0      6673
OCOD2_5120.0      6678
CNTRYID_591.0     6216
OCOD2_1221.0      6734
CNTRYID_724.0      977
ST001D01T_10.0    6574
GRADE_0.0         6574
OCOD2_7115.0      6737
OCOD2_9310.0      6672
OCOD2_4227.0      6733
REPEAT               0
dtype: int64

In [21]:
def create_c1(dataset):
    """
    ⽣成第⼀个候选项集c1，每个项集只有1个item
    """
    c1=[]
    for transaction in dataset.values:
        for item in transaction:
            if (not pd.isnull(item)) and not {item} in c1:
                c1.append({item})
    c1.sort()
    print(list(map(frozenset,c1)))
    return list(map(frozenset,c1))


def create_freq_transaction(dataset,ck,min_support=0.2):
    """
    ⽣成满⾜最⼩⽀持度的频繁项集
    """
    sscnt={} #存放项集及频次
    for transaction in dataset.values:
        for can in ck: #候选项集
            #print(can)
            if can.issubset(transaction):
                sscnt[can]=sscnt.get(can,0)+1 #频次+1
    
    num_transactions=float(len(dataset)) #事务总量
    freq_transaction=[] #频繁项集,如果ck中得不到频繁项集，则返回的是空list
    
    support_data={} #存放项集及支持度
    for key in sscnt:
        support=sscnt[key]/num_transactions
        support_data[key]=support
        if support>=min_support:
            freq_transaction.append(key)
    print(freq_transaction)
    return support_data,freq_transaction


def create_ck(freq_k_transaction): 
    """
    由频繁k项集⽣成k+1候选项集。
    """
    ck=[] #k+1候选项集
    k=len(freq_k_transaction)
    for i in range(k):
        for j in range(i+1,k):
            t1=freq_k_transaction[i]
            t2=freq_k_transaction[j]
            t=t1|t2
            if (not t in ck) and (len(t)==len(freq_k_transaction[0])+1):
                ck.append(t)
    return ck


def apriori(dataset,min_support=0.5):
    '''
    生成大于支持度阈值下的频繁项集，以及所有候选项集及其支持度
    '''
    c1=create_c1(dataset)
    support_data,freq_transaction_1=create_freq_transaction(dataset,c1,min_support=min_support)
    all_freq_transaction=[freq_transaction_1]
    
    k=2 
    while len(all_freq_transaction[-1])>0 :
        ck=create_ck(all_freq_transaction[-1])
        support_data_k,freq_transaction_k=create_freq_transaction(dataset,ck,min_support=min_support)
        support_data.update(support_data_k) 
        all_freq_transaction.append(freq_transaction_k)
        k=k+1
    return support_data,all_freq_transaction


def create_subset(fromlist,tolist):
    '''
    已知列表fromlist的所有子集，结果保存到tolist，tolist中的元素格式是冻集合。
    '''
    for i in range(len(fromlist)):
        t=[fromlist[i]]
        tt=frozenset(set(fromlist)-set(t))
        if not tt in tolist:
            tolist.append(tt)
            
            tt=list(t)
            if len(tt)>1:
                create_subset(tt,tolist)    
    return None


def cal_conf(fre_set,h,support_data,rulelist,min_conf):
    '''
    给定一个频繁项集，得到它子集中所有可能的关联规则，满足置信度阈值的强关联规则保存在rulelist中。
    '''
    for after in h:
        conf=support_data[fre_set]/support_data[fre_set-after] 
        lift=support_data[fre_set]/(support_data[fre_set-after] * support_data[after])
        if conf>= min_conf and lift>1:
        #if conf>= min_conf:
            print(fre_set-after,'-->',after,'\n',
                  'before support:',round(support_data[fre_set-after],3),',',
                  'after support:',round(support_data[after],3),',',
                  'together support:',round(support_data[fre_set],3),',',
                  'conf:',round(conf,3),',',
                  'lift:',round(lift,3))
            rulelist.append((fre_set-after,after,round(conf,3))) 
    return None


def create_rules(support_data,all_freq_transaction,min_conf=0.8):
    '''
    函数功能：生成给定频繁项集下的所有关联规则项。
    '''
    all_rulelist=[]
    for i in range(1,len(all_freq_transaction)):
        for fre_set in all_freq_transaction[i]:
            fre_list=list(fre_set)
            all_subset=[]
            create_subset(fre_list,all_subset)
            cal_conf(fre_set,all_subset,support_data,all_rulelist,min_conf)
    return all_rulelist

In [22]:
support_data, all_freq_transaction = apriori(df2, min_support=0.6)

[frozenset({'ST127Q02TA_3.0'}), frozenset({'ST001D01T_8.0'}), frozenset({'GRADE_-2.0'}), frozenset({'ISCEDL_2.0'}), frozenset({'OCOD2_9999.0'}), frozenset({'CNTRYID_152.0'}), frozenset({'REPEAT'}), frozenset({'ST127Q02TA_2.0'}), frozenset({'OCOD2_7231.0'}), frozenset({'ST127Q02TA_1.0'}), frozenset({'OCOD2_8332.0'}), frozenset({'OCOD2_7131.0'}), frozenset({'OCOD2_9705.0'}), frozenset({'OCOD2_9621.0'}), frozenset({'OCOD2_5414.0'}), frozenset({'OCOD2_8322.0'}), frozenset({'OCOD2_9704.0'}), frozenset({'OCOD2_7212.0'}), frozenset({'OCOD2_1120.0'}), frozenset({'ST001D01T_9.0'}), frozenset({'GRADE_-1.0'}), frozenset({'CNTRYID_484.0'}), frozenset({'OCOD2_9703.0'}), frozenset({'OCOD2_5131.0'}), frozenset({'OCOD2_4323.0'}), frozenset({'OCOD2_7411.0'}), frozenset({'OCOD2_7112.0'}), frozenset({'OCOD2_7511.0'}), frozenset({'OCOD2_6111.0'}), frozenset({'OCOD2_5120.0'}), frozenset({'CNTRYID_591.0'}), frozenset({'OCOD2_1221.0'}), frozenset({'CNTRYID_724.0'}), frozenset({'ST001D01T_10.0'}), frozenset({'GRADE_0.0'}), frozenset({'OCOD2_7115.0'}), frozenset({'OCOD2_9310.0'}), frozenset({'OCOD2_4227.0'})]
[frozenset({'ISCEDL_2.0'}), frozenset({'REPEAT'}), frozenset({'ST127Q02TA_2.0'}), frozenset({'ST001D01T_9.0'}), frozenset({'GRADE_-1.0'}), frozenset({'CNTRYID_724.0'})]
[frozenset({'REPEAT', 'ISCEDL_2.0'}), frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT'}), frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'ISCEDL_2.0'}), frozenset({'REPEAT', 'ST001D01T_9.0'}), frozenset({'GRADE_-1.0', 'REPEAT'}), frozenset({'GRADE_-1.0', 'ST001D01T_9.0'}), frozenset({'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'REPEAT', 'CNTRYID_724.0'}), frozenset({'ST127Q02TA_2.0', 'CNTRYID_724.0'}), frozenset({'ST001D01T_9.0', 'CNTRYID_724.0'}), frozenset({'GRADE_-1.0', 'CNTRYID_724.0'})]
[frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0'}), frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0'}), frozenset({'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'CNTRYID_724.0'}), frozenset({'ST001D01T_9.0', 'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'GRADE_-1.0', 'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'REPEAT', 'ST001D01T_9.0', 'CNTRYID_724.0'}), frozenset({'GRADE_-1.0', 'REPEAT', 'CNTRYID_724.0'}), frozenset({'GRADE_-1.0', 'ST001D01T_9.0', 'CNTRYID_724.0'})]
[frozenset({'REPEAT', 'ISCEDL_2.0', 'GRADE_-1.0', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'}), frozenset({'REPEAT', 'ISCEDL_2.0', 'ST001D01T_9.0', 'CNTRYID_724.0'}), frozenset({'REPEAT', 'ISCEDL_2.0', 'GRADE_-1.0', 'CNTRYID_724.0'}), frozenset({'ISCEDL_2.0', 'GRADE_-1.0', 'ST001D01T_9.0', 'CNTRYID_724.0'}), frozenset({'REPEAT', 'GRADE_-1.0', 'ST001D01T_9.0', 'CNTRYID_724.0'})]
[frozenset({'REPEAT', 'GRADE_-1.0', 'ISCEDL_2.0', 'ST001D01T_9.0', 'CNTRYID_724.0'})]
[]

In [23]:

temp = create_rules(support_data, all_freq_transaction, min_conf=0.15)

frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'CNTRYID_724.0'})
 before support: 0.752 , after support: 0.856 , together support: 0.67 , conf: 0.891 , lift: 1.04
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST127Q02TA_2.0'})
 before support: 0.856 , after support: 0.752 , together support: 0.67 , conf: 0.782 , lift: 1.04
frozenset({'ST001D01T_9.0'}) --> frozenset({'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST001D01T_9.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'ISCEDL_2.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.752 , after support: 0.856 , together support: 0.67 , conf: 0.891 , lift: 1.04
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.752 , together support: 0.67 , conf: 0.782 , lift: 1.04
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'REPEAT', 'CNTRYID_724.0'})
 before support: 0.752 , after support: 0.856 , together support: 0.67 , conf: 0.891 , lift: 1.04
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT'})
 before support: 0.856 , after support: 0.752 , together support: 0.67 , conf: 0.782 , lift: 1.04
frozenset({'ST001D01T_9.0'}) --> frozenset({'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'ST001D01T_9.0'}) --> frozenset({'REPEAT', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'ST001D01T_9.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.776 , after support: 0.776 , together support: 0.776 , conf: 1.0 , lift: 1.289
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.752 , after support: 0.856 , together support: 0.67 , conf: 0.891 , lift: 1.04
frozenset({'CNTRYID_724.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.752 , together support: 0.67 , conf: 0.782 , lift: 1.04
frozenset({'ST001D01T_9.0'}) --> frozenset({'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.856 , together support: 0.666 , conf: 0.858 , lift: 1.002
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0', 'CNTRYID_724.0'})
 before support: 0.776 , after support: 0.666 , together support: 0.666 , conf: 0.858 , lift: 1.289
frozenset({'CNTRYID_724.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.856 , after support: 0.776 , together support: 0.666 , conf: 0.777 , lift: 1.002

In [24]:
df3 = df[df.CNTRYID == 724.0]
df3

       CNTRYID  ST127Q02TA  ST001D01T  GRADE  ISCEDL  OCOD2  REPEAT
16222    724.0         2.0        9.0   -1.0     2.0    310     1.0
16224    724.0         2.0        8.0   -2.0     2.0   9999     1.0
16227    724.0         2.0        9.0   -1.0     2.0   9313     1.0
16228    724.0         2.0        9.0   -1.0     2.0   9703     1.0
16234    724.0         1.0       10.0    0.0     2.0   2310     1.0
...        ...         ...        ...    ...     ...    ...     ...
42161    724.0         2.0        8.0   -2.0     2.0   9703     1.0
42168    724.0         2.0        9.0   -1.0     2.0   8350     1.0
42172    724.0         2.0        9.0   -1.0     2.0   7115     1.0
42174    724.0         2.0        8.0   -2.0     2.0   5414     1.0
42175    724.0         2.0        9.0   -1.0     2.0   2149     1.0

[5829 rows x 7 columns]

In [25]:
df4 = pd.DataFrame(index=range(len(df3)))

for i in range(len(df3)):
    df4.at[i, 'ST127Q02TA_' + str(df3.values[i, 1])] = 'ST127Q02TA_' + str(df3.values[i, 1])
    df4.at[i, 'ST001D01T_' + str(df3.values[i, 2])] = 'ST001D01T_' + str(df3.values[i, 2])
    df4.at[i, 'GRADE_' + str(df3.values[i, 3])] = 'GRADE_' + str(df3.values[i, 3])
    df4.at[i, 'ISCEDL_' + str(df3.values[i, 4])] = 'ISCEDL_' + str(df3.values[i, 4])
    df4.at[i, 'OCOD2_' + str(df3.values[i, 5])] = 'OCOD2_' + str(df3.values[i, 5])
df4['REPEAT'] = 'REPEAT'
df4

,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,OCOD2_310.0,ST001D01T_8.0,GRADE_-2.0,OCOD2_9999.0,OCOD2_9313.0,OCOD2_9703.0,...,OCOD2_2633.0,OCOD2_7514.0,OCOD2_9123.0,OCOD2_7311.0,OCOD2_4225.0,OCOD2_8182.0,OCOD2_6221.0,OCOD2_3257.0,OCOD2_7535.0,REPEAT
0,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,OCOD2_310.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
1,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,OCOD2_9999.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
2,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,OCOD2_9313.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
3,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,OCOD2_9703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
4,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5824,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,NaN,NaN,OCOD2_9703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5825,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5826,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5827,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5828,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT

In [26]:
cols = []
for col in df4.columns:
    if df4[col].isnull().sum() > 5800:
        cols.append(col)
df4 = df4.drop(cols, axis = 1)
df4

,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,OCOD2_310.0,ST001D01T_8.0,GRADE_-2.0,OCOD2_9999.0,OCOD2_9703.0,ST127Q02TA_1.0,...,OCOD2_1221.0,OCOD2_5419.0,OCOD2_9704.0,OCOD2_7131.0,OCOD2_7511.0,OCOD2_7512.0,OCOD2_5221.0,OCOD2_9998.0,OCOD2_9112.0,REPEAT
0,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,OCOD2_310.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
1,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,OCOD2_9999.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
2,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
3,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,OCOD2_9703.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
4,NaN,NaN,NaN,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,ST127Q02TA_1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5824,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,NaN,OCOD2_9703.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5825,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5826,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5827,ST127Q02TA_2.0,NaN,NaN,ISCEDL_2.0,NaN,ST001D01T_8.0,GRADE_-2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT
5828,ST127Q02TA_2.0,ST001D01T_9.0,GRADE_-1.0,ISCEDL_2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPEAT

In [27]:
support_data, all_freq_transaction = apriori(df4, min_support=0.6)

[frozenset({'ST127Q02TA_2.0'}), frozenset({'ST001D01T_9.0'}), frozenset({'GRADE_-1.0'}), frozenset({'ISCEDL_2.0'}), frozenset({'OCOD2_310.0'}), frozenset({'REPEAT'}), frozenset({'ST001D01T_8.0'}), frozenset({'GRADE_-2.0'}), frozenset({'OCOD2_9999.0'}), frozenset({'OCOD2_9703.0'}), frozenset({'ST127Q02TA_1.0'}), frozenset({'ST001D01T_10.0'}), frozenset({'GRADE_0.0'}), frozenset({'OCOD2_8332.0'}), frozenset({'OCOD2_7230.0'}), frozenset({'OCOD2_5120.0'}), frozenset({'OCOD2_9330.0'}), frozenset({'OCOD2_7231.0'}), frozenset({'OCOD2_9214.0'}), frozenset({'OCOD2_6111.0'}), frozenset({'OCOD2_7112.0'}), frozenset({'ST127Q02TA_3.0'}), frozenset({'OCOD2_5131.0'}), frozenset({'OCOD2_7115.0'}), frozenset({'OCOD2_7212.0'}), frozenset({'OCOD2_3355.0'}), frozenset({'OCOD2_4323.0'}), frozenset({'OCOD2_5414.0'}), frozenset({'OCOD2_6114.0'}), frozenset({'OCOD2_9705.0'}), frozenset({'OCOD2_9621.0'}), frozenset({'OCOD2_7111.0'}), frozenset({'OCOD2_7411.0'}), frozenset({'OCOD2_8331.0'}), frozenset({'OCOD2_1120.0'}), frozenset({'OCOD2_9310.0'}), frozenset({'OCOD2_6121.0'}), frozenset({'OCOD2_8320.0'}), frozenset({'OCOD2_4227.0'}), frozenset({'OCOD2_5222.0'}), frozenset({'OCOD2_8322.0'}), frozenset({'OCOD2_5151.0'}), frozenset({'OCOD2_7126.0'}), frozenset({'OCOD2_2149.0'}), frozenset({'OCOD2_1221.0'}), frozenset({'OCOD2_5419.0'}), frozenset({'OCOD2_9704.0'}), frozenset({'OCOD2_7131.0'}), frozenset({'OCOD2_7511.0'}), frozenset({'OCOD2_7512.0'}), frozenset({'OCOD2_5221.0'}), frozenset({'OCOD2_9998.0'}), frozenset({'OCOD2_9112.0'})]
[frozenset({'ST127Q02TA_2.0'}), frozenset({'ST001D01T_9.0'}), frozenset({'GRADE_-1.0'}), frozenset({'ISCEDL_2.0'}), frozenset({'REPEAT'})]
[frozenset({'ST127Q02TA_2.0', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'GRADE_-1.0'}), frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT'}), frozenset({'GRADE_-1.0', 'ST001D01T_9.0'}), frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'REPEAT', 'ST001D01T_9.0'}), frozenset({'GRADE_-1.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'REPEAT'}), frozenset({'REPEAT', 'ISCEDL_2.0'})]
[frozenset({'ST127Q02TA_2.0', 'ST001D01T_9.0', 'GRADE_-1.0'}), frozenset({'ST127Q02TA_2.0', 'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0', 'GRADE_-1.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'GRADE_-1.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0'}), frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'}), frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'})]
[frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0', 'GRADE_-1.0', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'GRADE_-1.0', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0', 'ST001D01T_9.0'}), frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0', 'GRADE_-1.0'}), frozenset({'REPEAT', 'ISCEDL_2.0', 'GRADE_-1.0', 'ST001D01T_9.0'})]
[frozenset({'ST127Q02TA_2.0', 'REPEAT', 'GRADE_-1.0', 'ISCEDL_2.0', 'ST001D01T_9.0'})]
[]

In [28]:
temp = create_rules(support_data, all_freq_transaction, min_conf=0.15)

frozenset({'ST127Q02TA_2.0'}) --> frozenset({'ST001D01T_9.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'ST001D01T_9.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'GRADE_-1.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'ST001D01T_9.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'ISCEDL_2.0', 'GRADE_-1.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ST001D01T_9.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'GRADE_-1.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.782 , together support: 0.619 , conf: 0.797 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.777 , together support: 0.777 , conf: 1.0 , lift: 1.286
frozenset({'ST127Q02TA_2.0'}) --> frozenset({'GRADE_-1.0', 'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.782 , after support: 0.777 , together support: 0.619 , conf: 0.792 , lift: 1.018
frozenset({'GRADE_-1.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ST001D01T_9.0', 'ISCEDL_2.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286
frozenset({'ST001D01T_9.0'}) --> frozenset({'ST127Q02TA_2.0', 'REPEAT', 'ISCEDL_2.0', 'GRADE_-1.0'})
 before support: 0.777 , after support: 0.619 , together support: 0.619 , conf: 0.797 , lift: 1.286