In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.covariance import EllipticEnvelope
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import KFold

from sklearn.metrics import f1_score

In [82]:
df = pd.read_csv("./data/lab3-data.csv")

In [83]:

df = df.loc[:,['COBN_F','OCOD2', 'AGE',
                'ENTUSE','PROGN','COBN_M','IC001Q09TA',
                'ST011D17TA','IC008Q02TA','IC001Q11TA',
                'MISCED_D','SCREADDIFF',
                'ISCEDL','HOMEPOS',"REPEAT"]]
df

,COBN_F,OCOD2,AGE,ENTUSE,PROGN,COBN_M,IC001Q09TA,ST011D17TA,IC008Q02TA,IC001Q11TA,MISCED_D,SCREADDIFF,ISCEDL,HOMEPOS,REPEAT
0,15200,5164,15.83,-1.8728,1520002,15200,3.0,152002,1.0,2.0,5.0,-1.8876,3.0,-1.8052,0.0
1,15200,2212,16.00,-0.2861,1520002,15200,1.0,152002,4.0,3.0,6.0,0.5082,3.0,1.0751,0.0
2,15200,7212,15.42,1.2582,1520002,15200,1.0,152002,4.0,3.0,3.0,-1.1260,3.0,-0.9201,0.0
3,15200,2411,16.25,0.3772,1520002,15200,1.0,152002,4.0,3.0,6.0,-1.1635,3.0,0.4303,0.0
4,15200,7212,16.08,0.7739,1520002,15200,1.0,152002,3.0,3.0,4.0,-1.8876,3.0,-0.6816,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42171,972400,1411,16.00,0.6080,7240001,72410,1.0,724001,2.0,1.0,6.0,-1.8876,2.0,-0.4604,0.0
42172,72407,7115,15.67,NaN,7240001,72407,1.0,724001,NaN,1.0,6.0,1.2421,2.0,0.7816,1.0
42173,72413,2142,15.67,0.1142,7240001,72413,1.0,724001,4.0,3.0,3.0,-0.6630,2.0,1.0707,0.0
42174,72405,5414,15.33,-0.4542,7240001,72405,1.0,724001,1.0,3.0,2.0,1.1604,2.0,-1.0045,1.0
42175,72416,2149,15.67,-0.8668,7240001,72413,1.0,724001,5.0,3.0,2.0,0.7067,2.0,1.2865,1.0

In [84]:
df.isnull().sum()

COBN_F           0
OCOD2            0
AGE              0
ENTUSE        2041
PROGN            0
COBN_M           0
IC001Q09TA     605
ST011D17TA       0
IC008Q02TA    2659
IC001Q11TA     572
MISCED_D       934
SCREADDIFF    1760
ISCEDL           0
HOMEPOS          7
REPEAT          74
dtype: int64

In [85]:
df = df.dropna(subset="REPEAT")

In [86]:
df.isnull().sum()

COBN_F           0
OCOD2            0
AGE              0
ENTUSE        2030
PROGN            0
COBN_M           0
IC001Q09TA     601
ST011D17TA       0
IC008Q02TA    2645
IC001Q11TA     566
MISCED_D       927
SCREADDIFF    1739
ISCEDL           0
HOMEPOS          5
REPEAT           0
dtype: int64

In [87]:
df = df.dropna()

In [88]:
name = df.columns
df = np.array(df)
detector = EllipticEnvelope()
detector.fit(df)
outlier = detector.predict(df)
for i in range(df.shape[0]):
    if outlier[i] == -1:
        df[i, : ] = np.nan
isnan = np.isnan(df)
print(True in isnan)

True

In [89]:
df = pd.DataFrame(df)

In [90]:
df.columns = name
df = df.dropna()
df

,COBN_F,OCOD2,AGE,ENTUSE,PROGN,COBN_M,IC001Q09TA,ST011D17TA,IC008Q02TA,IC001Q11TA,MISCED_D,SCREADDIFF,ISCEDL,HOMEPOS,REPEAT
0,15200.0,5164.0,15.83,-1.8728,1520002.0,15200.0,3.0,152002.0,1.0,2.0,5.0,-1.8876,3.0,-1.8052,0.0
1,15200.0,2212.0,16.00,-0.2861,1520002.0,15200.0,1.0,152002.0,4.0,3.0,6.0,0.5082,3.0,1.0751,0.0
2,15200.0,7212.0,15.42,1.2582,1520002.0,15200.0,1.0,152002.0,4.0,3.0,3.0,-1.1260,3.0,-0.9201,0.0
3,15200.0,2411.0,16.25,0.3772,1520002.0,15200.0,1.0,152002.0,4.0,3.0,6.0,-1.1635,3.0,0.4303,0.0
4,15200.0,7212.0,16.08,0.7739,1520002.0,15200.0,1.0,152002.0,3.0,3.0,4.0,-1.8876,3.0,-0.6816,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36493,72408.0,6121.0,15.92,0.2687,7240001.0,72408.0,1.0,724001.0,5.0,1.0,2.0,-0.5240,2.0,0.5544,0.0
36494,972400.0,1411.0,16.00,0.6080,7240001.0,72410.0,1.0,724001.0,2.0,1.0,6.0,-1.8876,2.0,-0.4604,0.0
36495,72413.0,2142.0,15.67,0.1142,7240001.0,72413.0,1.0,724001.0,4.0,3.0,3.0,-0.6630,2.0,1.0707,0.0
36496,72405.0,5414.0,15.33,-0.4542,7240001.0,72405.0,1.0,724001.0,1.0,3.0,2.0,1.1604,2.0,-1.0045,1.0
36497,72416.0,2149.0,15.67,-0.8668,7240001.0,72413.0,1.0,724001.0,5.0,3.0,2.0,0.7067,2.0,1.2865,1.0

In [91]:
""" def drop_noisy(df):
    df_copy = df.copy()
    df_describe = df_copy.describe()
    for column in df.columns:
        mean = df_describe.loc['mean',column]
        std = df_describe.loc['std',column]
        minvalue = mean - 3*std
        maxvalue = mean + 3*std
        df_copy = df_copy[df_copy[column] >= minvalue]
        df_copy = df_copy[df_copy[column] <= maxvalue]
    return df_copy
df = drop_noisy(df)
df """

" def drop_noisy(df):\n    df_copy = df.copy()\n    df_describe = df_copy.describe()\n    for column in df.columns:\n        mean = df_describe.loc['mean',column]\n        std = df_describe.loc['std',column]\n        minvalue = mean - 3*std\n        maxvalue = mean + 3*std\n        df_copy = df_copy[df_copy[column] >= minvalue]\n        df_copy = df_copy[df_copy[column] <= maxvalue]\n    return df_copy\ndf = drop_noisy(df)\ndf "

In [92]:
from sklearn.model_selection import cross_val_score
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [93]:
""" data = df.loc[:,['COBN_F','HOMEPOS','ISCEDL','OCOD2']]
data """

" data = df.loc[:,['COBN_F','HOMEPOS','ISCEDL','OCOD2']]\ndata "

In [94]:
labels = df.loc[:,["REPEAT"]]
labels = np.array(labels)
labels = labels.astype('int')
labels

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [1]])

In [95]:
print(np.sum(labels[i] == 1 for i in range(len(labels))) / len(labels))

[0.16841208]

In [96]:
datax = df.drop(columns='REPEAT')

In [97]:
#'ISCEDL','AGE','HOMEPOS',
data = df.loc[:,['COBN_F','ST011D17TA','ENTUSE','HOMEPOS',
                'IC008Q02TA','IC001Q11TA','MISCED_D','SCREADDIFF']]
gbtree = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [98]:
print(cross_val_score(gbtree, datax, labels,scoring='accuracy', cv=5).mean())
print(cross_val_score(gbtree, datax, labels,scoring='f1', cv=5).mean())

0.8377370857491474
0.07288503253796096

In [99]:
data2 = df.loc[:,['ISCEDL','AGE','HOMEPOS','COBN_F','ENTUSE','PROGN',
                'COBN_M','IC001Q09TA']]
xgbclassfier = XGBClassifier(learning_rate = 0.1,
                            booster = 'gbtree',
                            max_depth = 3,
                            gamma = 2,
                            subsample = 1,
                            objective = 'binary:logistic',
                            eval_metric = 'logloss',)

In [100]:
print(cross_val_score(xgbclassfier, datax, labels,scoring='accuracy', cv=5).mean())
print(cross_val_score(xgbclassfier, datax, labels,scoring='f1', cv=5).mean())

0.8402643151391631
0.2289043161761059

In [101]:
data3 = df.loc[:,['COBN_F','ST011D17TA','ENTUSE','HOMEPOS',
                'IC008Q02TA','IC001Q11TA','MISCED_D','SCREADDIFF']]
mlp = MLPClassifier(hidden_layer_sizes=(10,),
                                max_iter = 1000,
                                activation='tanh',
                                solver = 'adam',
                                alpha = 0.0001,
                                )

In [102]:
print(cross_val_score(mlp, datax, labels.ravel(),scoring='accuracy', cv=5).mean())
print(cross_val_score(mlp, datax, labels.ravel(),scoring='f1', cv=5).mean())

0.8315879228876557
0.0

In [103]:
data4 = df.loc[:,['COBN_F','ST011D17TA','ENTUSE','HOMEPOS',
                'IC008Q02TA','IC001Q11TA','MISCED_D','SCREADDIFF']]
KNN = KNeighborsClassifier(n_neighbors=3,
                            weights='uniform',
                            algorithm='auto')

In [104]:
print(cross_val_score(KNN, datax, labels.ravel(),scoring='accuracy', cv=5).mean())
print(cross_val_score(KNN, datax, labels.ravel(),scoring='f1', cv=5).mean())

0.801752361595085
0.18373393873353744

In [114]:
kf = KFold(n_splits=5, shuffle=True)

In [115]:
index1 = []
index2 = []
for train_index,test_index in kf.split(datax,labels):
    index1.append(list(train_index))
    index2.append(list(test_index))

In [116]:
train_data = datax.iloc[index1[0],:]
test_data = datax.iloc[index2[0],:]
train_labels = labels[index1[0]]
test_labels = labels[index2[0]]

In [117]:
xgbclassfier.fit(train_data, train_labels)

XGBClassifier(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, gamma=2, gpu_id=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=0.1, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=3,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None, ...)

In [118]:
pre = xgbclassfier.predict(test_data)

In [119]:
result = pd.DataFrame(index=index2[0])

result['true_label'] = test_labels
result['pre_label'] = pre

In [120]:
print(np.sum(test_labels[i] == 1 for i in range(len(test_labels))) / len(test_labels))

[0.16605784]

In [121]:
print(np.mean(pre == test_labels))

print(f1_score(test_labels, pre))

0.7947026866736631
0.3764387271496276

In [113]:
result.to_csv("exp5.csv")